/* -------------------------------------------- */
/* Reset                                        */
/* -------------------------------------------- */

/* Source: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background: #F4EDEA;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* -------------------------------------------- */
/* General Styles                               */
/* -------------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h1 {
  font-family: 'Frijole', cursive;
  font-weight: 400;
  font-size: 45px;
  line-height: 1;
}


/* -------------------------------------------- */
/* Specific Styles                              */
/* -------------------------------------------- */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.app-title {
  font-size: 25px;
  margin-bottom: 50px;
  font-family: 'VT323', monospace;
}

form {
  display: flex;
  gap: 10px;
}

input {
  border-radius: 10px;
  border: none;
  padding: 10px;
}

button {
  background-color: transparent;
  padding: 0.5em 1.7em;
  border: 0.16em solid rgb(0, 0, 0);
  border-radius: 2em;
  transition: all 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 255, 255);
}

.name-tag-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.name-tag {
  position: relative;
  width: 350px;
  background-color: #A85120;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border-radius: 20px;
  text-align: center;
}

.name-tag-title {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  line-height: 40px;
  margin-top: 10px;
}

.name-tag-subtitle {
  color: #fff;
  margin-bottom: 7px;
}

.name {
  font-family: 'Carter One', cursive;
  font-size: 60px;
  background-color: #fff;
  margin-bottom: 30px;
}

.delete-name-tag {
  position: absolute;
  padding: 5px 8px;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 45px;
}

.delete-name-tag:hover {
  filter: drop-shadow(0px 0px 5px #fff);
}